/* Add your CSS here to style your halloween page */
* {
    margin: 0;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

header {
    background-color: orange;
    padding: 10px 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li {
    padding: 20px 50px;
    border-radius: 10px;
    margin: 0 5px;
    list-style: none;
    border: 2px solid black;
    font-size: 1.5em;
}